.barContainer {
    height: 50px;
    width: 1000px;
    position: fixed;
    bottom: 0px;
    right: 12.5%;
    background-color: burlywood;
    border: black solid 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 0px 8px black;
    justify-content: center;
}

.audioControls {
    width: 350px;
    background-color: green;
}

audio {
    width: 350px;
    background-color: red;
}
source {
    width: 350px;
    background-color: red;
}

.playPause {
    width: 40px;
    height: auto;
    bottom: 5px;
}
