.barContainer {
    height: 50px;
    width: 800px;
    position: fixed;
    bottom: 0px;
    right: calc(50% - 400px);
    background-color: rgb(199, 150, 85);
    border: black solid 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 0px 8px black;
    justify-content: center;
    display: inline;
}

.barContainer > * {
    vertical-align: middle;
    margin: 0px 10px;
}

.playPause {
    width: 40px;
    height: auto;
    margin: 3px;
}
