.userPage {
    margin: 0px 5% 60px;
    padding-top: 45px;
    background-color: white;
}

.coverPhotoDiv {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.coverPhoto {
    object-fit: cover;
    width: 90%;
    height: 300px;
    position: absolute;
}

.profilePhoto {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 50px;
}

.username {
    position: relative;
    margin-left: 40px;
    font-size: 110px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.userPage__content {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.userInfo {
    width: 30%;
}

.email {
    background-color: black;
}

.bio {
}

.songsList {
    width: 70%;
}

.songDiv {
    width: 700px;
    border-bottom: rgb(179, 48, 0) 1px solid;
    margin: 20px 0px;
}

.title {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

.artist {
    margin-left: 120px;
    font-size: 15px;
    margin-bottom: 0px;
    color: rgb(187, 50, 0);

}

.album {
    margin-left: 120px;
    font-size: 15px;
    color: rgb(187, 50, 0);
    font-style: italic;
}

.year {
    margin-left: 120px;
    font-size: 15px;
    color: rgb(187, 50, 0);
}
