.userPage {
    margin: 0px 50px;
    padding-top: 45px;
    background-color: white;
}

.coverPhotoDiv {
    width: 100%;
    height: 300px;
}

.coverPhoto {
    object-fit: cover;
    width: 100%;
}

.username {
    position: absolute;
    bottom: 80px;
    left: 300px;
    font-size: 110px;
    color: rgb(107, 45, 45);
}

.email {
    position: absolute;
    bottom: 70px;
    left: 410px;
    font-size: 30px;
    color: white;
}

.bio {
    position: absolute;
    bottom: 50px;
    left: 410px;
    font-size: 20px;
    color: rgb(148, 195, 255);
}

.songsList {
}

.songDiv {
    width: 700px;
    border-bottom: rgb(179, 48, 0) 1px solid;
    margin: 20px 0px;
}

.title {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

.artist {
    margin-left: 120px;
    font-size: 15px;
    margin-bottom: 0px;
    color: rgb(187, 50, 0);

}

.album {
    margin-left: 120px;
    font-size: 15px;
    color: rgb(187, 50, 0);
    font-style: italic;
}

.year {
    margin-left: 120px;
    font-size: 15px;
    color: rgb(187, 50, 0);
}
