/* TODO Add site wide styles */

body {
    background-color: rgb(202, 225, 255);
}

.appOrange {
    background-color: rgb(243, 146, 111);
}

.textarea {
    height: 70px;
    width: 400px;
    margin: 10px;
}

.lineText {
    width: 300px;
    border: none;
    margin: 10px;
    padding: 5px;
}

.appText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.appSubmitButton {
    background-color: rgb(243, 146, 111);
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
}

.appFileUpload {
    margin: 10px;
}

.appSubmitButton:hover {
    background-color: rgb(255, 87, 25);
}

/* .appPlaySong {

}

.appPlaySong:hover {
    background: url("https://www.freeiconspng.com/uploads/video-play-icon-1.jpg") no-repeat;
} */
