.genrePage {
    width: 90%;
    margin: auto;
    padding: 50px;
    background-color: white;
    min-height: 600px;
}

.genreOptions, .genreSongs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0px;
}

.genreOptions > div {
    padding: 5px 15px;
    margin: 5px 15px;
    cursor: pointer;
    background-image: linear-gradient(orange, orangered);
    color: white;
    border-radius: 10px;
}

.genreSongs__song {
    margin: 10px 10px;
    font-size: 0.8em;
    color: gray;
}

.genreSongs__song--img {
    width: 175px;
    height: auto;
    cursor: pointer;
}
