.navBar {
    display: flex;
    position: fixed;
    border-bottom: black solid 2px;
    background-color: rgba(196, 113, 18, 0.822);
    height: 40px;
    width: 100%;
}

.siteLogo {
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    text-align: center;
    align-self: center;
    order: -3;
}

#browse {
    order: -2;
    border-right: 1px black solid;
}

.search {
    text-align: center;
    align-self: center;
    width: 550px;
    order: -1;
}

#home {
    order: 0;
}

#login {
    order: 1;
}

#signup {
    order: 2;
}


.navButton {
    font-weight: bold;
    align-self: center;
    text-align: center;
    width: 100px;
    border-radius: 2px;
    padding: 3px;
    margin: 2px;
    border-left: 1px solid black;
}
