ul {
    z-index: 5;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(245, 111, 62);
}

li {
    float: left;
    display: block;
    color: rgb(48, 0, 104);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    border-right: 1px solid rgb(48, 0, 104);
}

li:last-child {
    border-right: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: rgb(184, 83, 0);
    cursor: pointer;
}

.search {
    width: 300px;
}

.siteLogo {
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    text-align: center;
    align-self: center;
    /* order: -3; */
}

.profile-dropdown {
    margin-top: 40px;
    background-color: rgb(119, 178, 236);
}

.profile-dropdown > div {
    padding: 10px 0px;
}

.profile-button {
    padding: 12px 10px;
}

.profile-button:hover{
    cursor: context-menu;
    background-color: rgb(177, 95, 66);
}
