ul {
    z-index: 5;
    position: fixed;
    /* list-style-type: none; */
    margin: 0;
    margin-left: 50px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(245, 111, 62);
    box-shadow: 2px 2px 5px black;
}

li {
    float: left;
    display: block;
    color: rgb(48, 0, 104);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    border-right: 1px solid rgb(48, 0, 104);
}

li:last-child {
    border-right: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: rgb(184, 83, 0);
    cursor: pointer;
}

.search {
    max-width: 300px;
}
